################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Distribuidos/v16
*.ipch
/.vs/Distribuidos/v15/Browse.VC.opendb
/.vs/Distribuidos/v15/Browse.VC.db
/.vs/Distribuidos/v15/.suo
